{% extends 'base.html' %}


{% block content %}
<div class="container">
    <!-- Header Section -->
    <header class="row">
        <div class="col-md-6" id="header-text">
            <h2>Cars</h2>
            <h5>Cars</h5>
        
            <div>
                <button class="btn btn-primary">Cars</button>
                <button class="btn btn-primary">Cars</button>
            </div> 
            
        </div> 
            <!-- Header Image -->
        <div class="col-md-6">
            <img src="#" alt="Hero Header Image" class="header-image">
        </div>
            
    </header>
    <!-- End of Header Section -->
    <!-- Start of Middle Section -->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Car</h2>
            <p>Your Car</p>
        </div>
    </section>
    <!-- End of Middle Section -->

    <!-- Collection of Features Section -->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="#" alt="#" id="#">
            <h4>Cars</h4>
            <p>Cars</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="#" alt="#" id="#">
            <h4>#</h4>
            <p>Car</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="#" alt="#" id="#">
            <h4>Cars</h4>
            <p>Cars</p>
        </div>      
    </section>
    <!-- End of Collection of Features -->
    <!-- Start of Community Section -->
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="#" alt="#" id="#">
        </div>
        <div class="col-12 col-md-6">
            <h4>Cars</h4>
            <p>Cars </p>
            <div>
                <button class="btn btn-primary">View on Github</button>
                <button class="btn btn-primary">Join our Slack Channel again...</button>
            </div>

        </div>

    </section>
    <!-- End of Community Section -->
    <!-- Start of Footer -->
    <footer class="row" id="footer">
        <div class="col-2">
            <img src="#" alt="#" id="#">
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Cars</p>
                <p>Cars</p>
                <p>Cars</p>
                <p>Cars</p>
                <p>Cars</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Cars</p>
                <p>Cars</p>
                <p>Cars</p>
                <p>Cars</p>
                <p>Cars</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Cars</p>
                <p>Cars</p>
                <p>Cars</p>
                <p>Cars</p>
                <p>Cars</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Cars</p>
                <p>Cars</p>
                <p>Cars</p>
                <p>Cars</p>
                <p>Cars</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Cars</p>
                <p>Cars</p>
                <p>Cars</p>
                <p>Cars</p>
                <p>Cars</p>
            </div>
        </div>
    </footer> 
</div>

{% endblock content %}